.bkg{
	background-image: url('https://st4.depositphotos.com/1868027/i/600/depositphotos_301910600-stock-photo-autumn-cooking-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;

}

.btn{
    background: rgb(233, 116, 7);
    background-color: antiquewhite;
    border-radius: 30px;
  }
  
