.paginado {
    display: flex;
    justify-content: center;
    align-content: end;
    
  }

  .styleBtn{
    
    background: rgb(233, 116, 7);
    background-color: antiquewhite;
    border-radius: 30px;
    transition: transform 0.3s ease;
    
    
}
